<%= form_with(model: comment, url: post_comments_path, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <%= form.submit %>
<% end %>
